{
	"env": {
		"node": true
	},
	"extends": ["eslint:recommended", "prettier"],
	"parserOptions": {
		"ecmaVersion": 2019,
		"sourceType": "module"
	},
	"globals": {
		"Promise": "readable"
	},
	"rules": {}
}
